{% extends "layout.html" %}
{% set active_page = "403" %}
{% block body %}

<div class="container">
    <div class="row">
        <p>&nbsp;</p>
    </div>
    <div class="row">

        <div class="col-xs-12">
            <center>
                <h2>403: Permission Denied
                </h2>
                <p>You don't seem to be a member of the proper Github team or organization.
                Please contact <a href="mailto:dcppc-inbox@gmail.com">dcppc-inbox@gmail.com</a>
                if you believe you are seeing this message in error.
                </p>
            </center>
        </div>

    </div>
</div>

{% endblock %}

