<div class="container" id="banner-container">

    {#
    banner image
    #}
    <div class="row" id="banner-row">
        <div class="col12sm" id="banner-col">
            <center>
                <a id="banner-a" href="{{ url_for('search')}}?query=&fields=">
                    {% if 'betasearch' in request.url %}
                        <img id="banner-img" src="{{ url_for('static', filename='centillion_white_beta.png') }}">
                    {% elif 'localhost' in request.url %}
                        <img id="banner-img" src="{{ url_for('static', filename='centillion_white_localhost.png') }}">
                    {% else %}
                        <img id="banner-img" src="{{ url_for('static', filename='centillion_white.png') }}">
                    {% endif %}
                </a>
            </center>
        </div>
    </div>

    {% if config['TAGLINE'] %}
    <div class="row" id="tagline-row">
        <div class="col12sm" id="tagline-col">
            <center>
                    <h2 id="tagline-tagline"> {{config['TAGLINE']}} </h2>
            </center>
        </div>
    </div>
    {% endif %}

</div>
