{% extends "layout.html" %}
{% set active_page = "control_panel" %}
{% block body %}

<hr />

<div class="container">

    <div class="row">

        {# update main search index #}
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Update Main Search Index
                </h3>
            </div>
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="panel-text">Re-index <i>every</i> document in the
                            remote collection in the search index. <b>Warning: this operation may take a while.</b>
                            </p>
                            <p><a id="re-index-main" href="{{ url_for('update_index',run_which='all') }}" class="btn btn-large btn-danger btn-reindex-all">Update Main Index</a>
                            </p> 
                        </div>
                    </div>
                </div>

            </div>
        </div>



        {# update search index by type #}
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Update Search Index by Type
                </h3>
            </div>
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="panel-text">Re-index individual document types in the search index.
                            </p>
    {% if config['GOOGLE_DRIVE_ENABLED'] %}
                            <p><a href="{{ url_for('update_index',run_which='gdocs') }}"   class="btn btn-large btn-danger btn-reindex-type">Update Google Drive Index</a>
                            </p>  
    {% endif %}
    {% if config['GITHUB_ENABLED'] %}
                            <p><a href="{{ url_for('update_index',run_which='ghfiles') }}" class="btn btn-large btn-danger btn-reindex-type">Update Github Files Index</a>
                            </p>  
    {% endif %}
    {% if config['GITHUB_ENABLED'] %}
                            <p><a href="{{ url_for('update_index',run_which='issues') }}"  class="btn btn-large btn-danger btn-reindex-type">Update Github Issues Index</a>
                            </p>  
    {% endif %}
    {% if config['DISQUS_ENABLED'] %}
                            <p><a href="{{ url_for('update_index',run_which='disqus') }}"  class="btn btn-large btn-danger btn-reindex-type">Update Disqus Comment Threads Index</a>
                            </p> 
    {% endif %}

                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>

</div>

{% endblock %}

