<!doctype html>
<title>Centillion Search Engine</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='github-markdown.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome.min.css') }}">

<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='master_list.js') }}"></script>
<script src="{{ url_for('static', filename='search_list.js') }}"></script>
<script src="{{ url_for('static', filename='feedback.js') }}"></script>


{# ########## dataTables plugin ############ #}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dataTables.bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dataTables.responsive.css') }}">

<script src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='dataTables.bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='dataTables.responsive.js') }}"></script>



<div id="master-div">

    {#
    flashed messages
    #}
    {% include "flashed_messages.html" %}

    {#
    banner image
    #}
    {% include "banner.html" %}

    {#
    feedback modal
    #}
    {% include "modal.html" %}

    {% block body %}{% endblock %}

</div>

{% if active_page=="search" or active_page=="master_list" %}

    {# feedback button #}
    <button id="feedback" type="button" 
                          data-toggle="modal"
                          data-target="#myModal"
        class="btn btn-lg">Send Feedback</button>
    
    {# vertical spacing before the bottom, b/c of button #}
    <div id="footer-whitespace" class="container">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>

{% endif %}

{% include "footer.html" %}
