{% extends "layout.html" %}
{% set active_page = "master_list" %}
{% block body %}

<hr />

<div class="container">

    <div class="row">

    {#
    # google drive files panel
    #}
    <a name="gdoc"></a>
    <div class="row">
        <div class="panel">
            <div class="panel-group" id="accordionDrive" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="googleDrive">

                        <h2 class="masterlist-header">
                            <a class="collapsed" 
                                role="button"
                                onClick="load_gdoc_table()"
                                data-toggle="collapse" 
                                data-parent="#accordionDrive"
                                href="#collapseDrive" 
                                aria-expanded="true"
                                aria-controls="collapseDrive">
                                Google Drive Files <small>indexed by centillion</small>
                            </a>
                        </h2>

                    </div>
                    <div id="collapseDrive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="googleDrive">
                        <div class="panel-body">
                            <table class="table table-striped" id="gdocs-master-list">

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    {#
    # github issue panel
    #}
    <a name="issue"></a>
    <div class="row">
        <div class="panel">
            <div class="panel-group" id="accordionIssues" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="githubIssues">

                        <h2 class="masterlist-header">
                            <a class="collapsed" 
                                role="button"
                                onClick="load_issue_table()"
                                data-toggle="collapse" 
                                data-parent="#accordionIssues"
                                href="#collapseIssues" 
                                aria-expanded="true"
                                aria-controls="collapseIssues">
                                Github Issues and Pull Requests <small>indexed by centillion</small>
                            </a>
                        </h2>

                    </div>
                    <div id="collapseIssues" class="panel-collapse collapse" role="tabpanel" 
                        aria-labelledby="githubIssues">
                        <div class="panel-body">
                            <table class="table table-striped" id="issues-master-list">

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    {#
    # github file panel
    #}
    <a name="ghfile"></a>
    <div class="row">
        <div class="panel">
            <div class="panel-group" id="accordionFiles" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="githubFiles">

                        <h2 class="masterlist-header">
                            <a class="collapsed" 
                                role="button"
                                onClick="load_ghfile_table()"
                                data-toggle="collapse" 
                                data-parent="#accordionFiles"
                                href="#collapseFiles" 
                                aria-expanded="true"
                                aria-controls="collapseFiles">
                                Github Files <small>indexed by centillion</small>
                            </a>
                        </h2>

                    </div>
                    <div id="collapseFiles" class="panel-collapse collapse" role="tabpanel" 
                        aria-labelledby="githubFiles">
                        <div class="panel-body">
                            <table class="table table-striped" id="ghfiles-master-list">

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {#
    # gh markdown file panel
    #}
    <a name="markdown"></a>
    <div class="row">
        <div class="panel">
            <div class="panel-group" id="accordionMarkdown" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="markdown">

                        <h2 class="masterlist-header">
                            <a class="collapsed" 
                                role="button"
                                onClick="load_markdown_table()"
                                data-toggle="collapse" 
                                data-parent="#accordionMarkdown"
                                href="#collapseMarkdown" 
                                aria-expanded="true"
                                aria-controls="collapseMarkdown">
                                Github Markdown Files <small>indexed by centillion</small>
                            </a>
                        </h2>

                    </div>
                    <div id="collapseMarkdown" class="panel-collapse collapse" role="tabpanel" 
                        aria-labelledby="markdown">
                        <div class="panel-body">
                            <table class="table table-striped" id="markdown-master-list">

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    {#
    # disqus comment threads
    #}
    <a name="disqus"></a>
    <div class="row">
        <div class="panel">
            <div class="panel-group" id="accordionDisqus" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="disqus">

                        <h2 class="masterlist-header">
                            <a class="collapsed" 
                                role="button"
                                onClick="load_disqusthreads_table()"
                                data-toggle="collapse" 
                                data-parent="#accordionDisqus"
                                href="#collapseDisqus" 
                                aria-expanded="true"
                                aria-controls="collapseDisqus">
                                Disqus Comment Threads <small>indexed by centillion</small>
                            </a>
                        </h2>

                    </div>
                    <div id="collapseDisqus" class="panel-collapse collapse" role="tabpanel" 
                        aria-labelledby="disqus">
                        <div class="panel-body">
                            <table class="table table-striped" id="disqus-master-list">

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

{% endblock %}

