{% extends "layout.html" %}
{% block body %}


<div class="container">

    {#
    banner image
    #}
    <div class="row">
        <div class="col12sm">
            <center>
                <a href="{{ url_for('search')}}?query=&fields=">
                <img src="{{ url_for('static', filename='centillion_white.png') }}">
                </a>
                {#
                need a tag line
                #}
                {% if config['TAGLINE'] %}
                    <h2><a href="{{ url_for('search')}}?query=&fields=">
                        {{config['TAGLINE']}}
                    </a></h2>
                {% endif %}
            </center>
        </div>
    </div>

</div>
<div class="container">
    <div class="row">

        <div class="col-xs-12">

            <center>
                <p>To begin searching the Data Commons, you must first sign in with Github.
                </p>
                <button type="button" id="github-button" class="btn btn-default">
                <i class="fa fa-github"></i> Sign in with Github
                </button>
            </center>

        </div>

    </div>
</div>
{% endblock %}


