{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div class="row">

        <div class="col-xs-12">

            <center>
                <p class="lead">To begin searching the Data Commons, you must first sign in with Github.
                </p>
                <a href="/log_in" type="button" id="github-button" class="btn btn-default">
                <i class="fa fa-github fa-2x"></i> Sign in with Github
                </a>
            </center>

        </div>

    </div>
</div>
{% endblock %}


