<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
        Send us feedback!
        </h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
            <div id="modal-feedback-smile-div" class="col-xs-6 text-center" onClick="smile_click()">
                <i id="modal-feedback-smile-icon" class="fa fa-smile-o fa-4x" aria-hidden="true"></i>
            </div>
            <div id="modal-feedback-frown-div" class="col-xs-6 text-center" onClick="frown_click()">
                <i id="modal-feedback-frown-icon" class="fa fa-frown-o fa-4x" aria-hidden="true"></i>
            </div>
        </div>
        <div class="container-fluid">
            <p>&nbsp;</p>
        </div>
        <div class="container-fluid">
            <textarea id="modal-feedback-textarea" rows="6"></textarea>
        </div>
      </div>
      <div class="modal-footer">
          <div class="text-center">
            <button id="submit-feedback-btn" type="button" class="btn btn-lg btn-primary" data-dismiss="modal">
                Send
            </button>
          </div>
      </div>
    </div>
  </div>
</div>        

