<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

  <form id="myModalForm" method="post">

    <div class="modal-dialog" role="document">
      <div id="myModal-content" class="modal-content">
        <div id="myModal-header" class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">
          Send us feedback!
          </h4>
        </div>
        <div id="myModal-body" class="modal-body">
          <div id="modal-feedback-smile-frown-container" class="container-fluid">
              <div id="modal-feedback-smile-div" class="col-xs-6 text-center" 
                  onClick="smile()">
                  <i id="modal-feedback-smile-icon" class="fa fa-smile-o fa-4x" aria-hidden="true"></i>
              </div>
              <div id="modal-feedback-frown-div" class="col-xs-6 text-center" 
                  onClick="frown()">
                  <i id="modal-feedback-frown-icon" class="fa fa-frown-o fa-4x" aria-hidden="true"></i>
              </div>
          </div>
          <div class="container-fluid">
              <p>&nbsp;</p>
          </div>
          <div id="modal-feedback-textarea-container" class="container-fluid">
              <textarea id="modal-feedback-textarea" rows="6"></textarea>
          </div>
          <div id="modal-too-long" class="container-fluid" >
              <p id="modal-too-long-text" class="lead">Please limit the length of your feedback. Thank you in advance!</p>
          </div>
        </div>
        <div id="myModal-footer" class="modal-footer">
            <div class="text-center">
              <button id="submit-feedback-btn" type="button" 
                  onClick="submit_feedback()"
                  class="btn btn-lg btn-primary">
                  Send
              </button>
            </div>
        </div>
      </div>
    </div>

  </form>

</div>        

