{% extends "layout.html" %}
{% block body %}


<div class="container">

    <div class="row">
        <div class="col12sm">
            <center>
                <a href="{{ url_for('search')}}?query=&fields=">
                <img src="{{ url_for('static', filename='centillion_white.png') }}">
                </a>
            </center>
        </div>
    </div>
    
    <div class="row">
        <div class="col12sm">
            <center>
                <h2>
                    <a href="{{ url_for('search')}}?query=&fields=">
                    Search the DCPPC
                    </a>
                </h2>
            </center>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <center>
                <a class="index" href="{{ url_for('update_index')}}">[update index]</a>
                <a class="index" href="{{ url_for('update_index')}}?rebuild=True">[rebuild index]</a>
                <form action="{{ url_for('search') }}" name="search">
                    <input type="text" name="query" value="{{ query }}"> <br />
                    <button type="submit" style="font-size: 20px; padding: 10px; padding-left: 50px; padding-right: 50px;" 
                        value="search" class="btn btn-primary">Search</button>
                    <br />
                    <a href="{{ url_for('search')}}?query=&fields=">[clear all results]</a>
                </form>
            </center>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        {% if directories %}
        <div class="col-12 info directories-cloud">
            File directories:&nbsp
            {% for d in directories %}
                <a href="{{url_for('search')}}?query={{d|trim}}&fields=filename">{{d|trim}}</a>
            {% endfor %}
        </div>
        {% endif %}

        <ul class="list-group">

            {% if config['SHOW_PARSED_QUERY'] and parsed_query %}
                <li  class="list-group-item">
                    <div class="col-12 info">
                        <b>Parsed query:</b> {{ parsed_query }}
                    </div>
                </li>
            {% endif %}

            {% if parsed_query %}
                <li  class="list-group-item">
                    <div class="col-12 info">
                        <b>Found:</b> {{entries|length}} documents with results, out of {{totals["total"]}} total documents
                    </div>
                </li>
            {% endif %}

            <li  class="list-group-item">
                <div class="col-12 info">
                    <b>Indexing:</b> {{totals["documents"]}} Google Documents,
                    {{totals["issues"]}} Github issues, and 
                    {{totals["comments"]}} Github comments
                </div>
            </li>

        </ul>
    </div>
</div>

<div class="container">
    <div class="row">
        <ul class="list-group">

            {% for e in entries %}
                <li  class="search-group-item">

                    <div class="url">
                        {% if e.kind=="gdoc" %}
                            <b>Google Drive File:</b>
                            <a href='{{e.url}}'>{{e.title}}</a>
                            ({{e.owner_name}}, {{e.owner_email}})
                        {% elif e.kind=="comment" %}
                            <b>Comment:</b>
                            <a href='{{e.url}}'>Comment (link)</a>
                            by <a href='https://github.com/{{e.github_user}}'>@{{e.github_user}}</a>
                            on issue <a href='{{e.issue_url}}'>{{e.issue_title}}</a>
                            <br/>
                            <b>Repository:</b> <a href='{{e.repo_url}}'>dcppc/{{e.repo_name}}</a>
                            {% if e.github_user %}
                            {% endif %}
                        {% elif e.kind=="issue" %}
                            <b>Issue:</b>
                            <a href='{{e.issue_url}}'>{{e.issue_title}}</a>
                            by <a href='https://github.com/{{e.github_user}}'>@{{e.github_user}}</a>
                            <br/>
                            <b>Repository:</b> <a href='{{e.repo_url}}'>dcppc/{{e.repo_name}}</a>
                            {% if e.github_user %}
                            {% endif %}
                        {% else %}
                            <b>Item:</b> (<a href='{{e.url}}'>link</a>)
                        {% endif %}
                        <br />
                        score: {{'%d'  % e.score}}
                    </div>
                    <div class="markdown-body">{{ e.content_highlight|safe}}</div>

                </li>
            {% endfor %}
        </ul>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="last-searches">Last searches: <br/>
                {% for s in last_searches %}
                    <span><a href="{{url_for('search')}}?{{s}}">{{s}}</a></span>
                {% endfor %}
            </div>
            <p>
                More info can be found in the <a href="https://github.com/BernhardWenzel/markdown-search">README.md file</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}

