{% extends "layout.html" %}
{% block body %}
<h1><a href="{{ url_for('search')}}?query=&fields=">Search directory: {{ config.MARKDOWN_FILES_DIR }}</a></h1>
<a class="index" href="{{ url_for('update_index')}}">[update index]</a>
<a class="index" href="{{ url_for('update_index')}}?rebuild=True">[rebuild index]</a>
<form action="{{ url_for('search') }}" name="search">
    <input type="text" name="query" value="{{ query }}">
    <input type="submit" value="search">
    <a href="{{ url_for('search')}}?query=&fields=">[clear]</a>
</form>
<table cellspacing="3">
    {% if directories %}
    <tr>
        <td class="directories-cloud">File directories:&nbsp
            {% for d in directories %}
                <a href="{{url_for('search')}}?query={{d|trim}}&fields=filename">{{d|trim}}</a>
            {% endfor %}
        </td>
    </tr>
    {% endif %}
    {% if config['SHOW_PARSED_QUERY']%}
    <tr>
        <td class="info">Parsed query: {{ parsed_query }}</td>
    </tr>
    {% endif %}
    <tr>
        <td class="info">FOUND {{ entries | length }} results of {{total}} documents</td>
    </tr>

    {% for e in entries %}
    <tr>
        <td class="search-result">
            <!--
                <div class="path"><a href='{{ url_for("open_file")}}?path={{e.path|urlencode}}&query={{query}}&fields={{fields}}'>{{e.path}}</a>score: {{'%d'  % e.score}}</div>
            -->
            <div class="url">
                {% if e.kind=="comment" %}
                    <b>Comment</b> <a href='{{e.url}}'>(comment link)</a>
                    on issue <a href='{{e.issue_url}}'>{{e.issue_title}}</a>
                    in repo <a href='{{e.repo_url}}'>dcppc/{{e.repo_name}}</a>
                    <br />
                {% elif e.kind=="issue" %}
                    <b>Issue</b>
                    <a href='{{e.issue_url}}'>{{e.issue_title}}</a>
                    in repo <a href='{{e.repo_url}}'>dcppc/{{e.repo_name}}</a>
                    <br />
                {% else %}
                    <b>Thing</b> (<a href='{{e.url}}'>link</a>)
                    <br />
                {% endif %}
                score: {{'%d'  % e.score}}
            </div>
            <div class="markdown-body">{{ e.content_highlight|safe}}</div>
        </td>
    </tr>
    {% endfor %}
</table>
<div class="last-searches">Last searches: <br/>
    {% for s in last_searches %}
        <span><a href="{{url_for('search')}}?{{s}}">{{s}}</a></span>
    {% endfor %}
</div>
<p>
    More info can be found in the <a href="https://github.com/BernhardWenzel/markdown-search">README.md file</a>
</p>
{% endblock %}
